
.introduction {
      padding: 10px;
    text-align:center
}
.exPlain {
  border-radius: 25px;
  background: #544cc4;
  padding: 20px;
  width: 1200px;
  height: 200px;
 color: rgb(255, 255, 255);
 text-align:center;
}


.topnav {
  overflow: hidden;
  background-color: #050a33;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2b5ea0;
  color: white;
}
.navbar-brand img {
  max-width: auto;
  height: 150%;
}

.input {
  animation: background-pan 3s linear infinite;
  background-color: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-text-fill-color: rgb(0, 0, 0);
  white-space: nowrap;
}