.introduction { /*for description*/

    text-align:center
}
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: rgb(236, 229, 229) ;
    background-color:rgb(34, 31, 31) ;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #6fb899;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #554f4f;
    color: rgb(172, 154, 154);
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }